@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .home_section {
    @apply px-[1rem] sm:px-[3rem] lg:px-[5rem] xl:px-[10rem] ddxl:px-[18rem];
  }

  .faq_section {
    @apply mx-[1rem] sm:mx-[3rem] lg:mx-[5rem] xl:mx-[10rem] ddxl:mx-[18rem] rounded-[10px] mb-[5rem];
  }
  .heading {
    @apply text-[48px] lg:text-[62px] text-white font-bold leading-[70px];
  }

  .subheading {
    @apply text-[28px] lg:text-[32px] xl:text-[48px]  font-semibold leading-[54px];
  }

  p {
    @apply text-[16px] lg:text-[20px] text-white font-medium leading-[26px];
  }

  span {
    @apply text-[14px] lg:text-[16px] text-white font-thin leading-[26px];
  }

  .btn {
    @apply bg-primary hover:bg-primary-hover px-6 py-2 rounded-[5px] text-white text-sm lg:text-base font-medium;
  }

  .btn-outline {
    @apply px-6 py-2 rounded-[5px] text-primary font-medium border-2 border-primary hover:bg-primary-hover hover:text-white;
  }
  .box-shadow {
    @apply shadow-[0px_4px_40px_0px_#2B59FF14];
  }
  .drop_box {
    @apply shadow-[0px 4px 40px 0px #2B59FF14;
    ]
  }
}

.bgpolygon {
  background-color: #05977c;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  clip-path: polygon(
    50% 0%,
    100% 26%,
    100% 71%,
    50% 100%,
    50% 100%,
    0 71%,
    0 26%
  );
}

.travelguideline {
  background-image: url("/Maskgroup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

/* progressbar */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value] {
  --color: #00bb98; /* the progress color */
  --background: #e6e6e6; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 10px;
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
